.newsDescContainer {
    width: 100%;
    display: block;
}
.savermode {
    width: 100%;
    height: 200px;
    background: #fff;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.mainNews {
    width: 100%;
}
.mainNews .innerContainer {
    padding: 16px 24px;
    display: block
}
.innerContainer .headline {
    font-family: 'Google Sans', serif;
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.innerContainer .otherNews {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 22px;
    color: #000;
}
.header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #1565C0; */
    background: #fff;
    color: #ffffff;
    text-align: center;
    font-family: google sans;
    letter-spacing: 0.1px;
    z-index: 4;
    position: relative;
    position: sticky;
    top: 0;
}

.ad {
    width: 100%;
    height: 56px;
    font-family: Google Sans,
    'sans-serif';
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ni {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    border-radius: 4px;
}

@media screen and (min-width: 612px) {
    .innerContainer .headline {
        font-size: 18px;
    }
    .innerContainer .otherNews {
        font-size: 14px;
    }
    .ni {
        margin: 20px 0;
    }
}