.header {
    width: 100%;
    height: 56px;
    display: grid;
    place-items: center;
    background: #1565C0;
    color: #ffffff;
    text-align: center;
    font-family: google sans;
    letter-spacing: 0.1px;
    z-index: 4;
    position: relative;
}
@keyframes scroll {
    0% {
        transform: translateY(-60px);
    }
    100% {
         transform: translateY(0);
    }
}