.app {
  z-index: 3;
  width: 100%;
}
.menuButton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 18px;
  background: #1565C0;
  color: aliceblue;
  border-top-left-radius: 24px;
  outline: 0;
  border: 0;
  display: flex;
  font-family: Google sans;
  font-weight: 400;
  width: 140px;
  justify-content: space-around;
  align-items: center;
  z-index: 4;
}
.disableNotification {
  border-radius: 2px;
  background-color: rgba(255,67,67,.1);
  border: 1px solid rgba(255,67,67,.5);
  padding: 8px;
  margin-bottom: 15px;
  font-size: 12px;
  margin-top: 0;
}
.explore {
  overflow: hidden;
  width: 100%;
  display: block;
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 6;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transform: translateY(100%);
  transition: all 400ms;
}
.exploreBackground {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 5;
}
.explore .exploreInner {
  padding-left: 16px;
}
.exploreList {
  width: 100%;
  display: block;
}
.exploreProfile {
  width: 100%;
  height: 72px;
  display: flex;
  font-size: 16px;
  align-items: center;
  font-family: Google Sans;
  font-weight: 600;
  border-bottom: 1px solid grey;
}
.profileImage {
  width: 36px;
  height: 34px;
  border-radius: 50%;
  padding: 2px;
}
.profileImage.notSign {
  width: auto;
  height: auto;
}
.notSignin {
      display: flex;
      align-items: center;
}
.signed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signOut {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  outline: 0;
}
.signed > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.othermenubutton {
  width: 100%;
  height: 56px;
  display: flex;
  border: 0;
  background: transparent;
  font-size: 14px;
  align-items: center;
  font-family: Google Sans;
  font-weight: 600;
  outline: 0;

}
.bb {
  border-bottom: 1px solid grey;
}
.notPlusIcon {
  justify-content: space-between;
}
.notPlusIcon > div {
  display: flex;
  align-items: center;
}
.switch {
  width: 35px;
  height: 12px;
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
}
.switchPath {
  width: 30px;
  height: 12px;
  border-radius: 50px;
  background: #ccc;
  z-index: 7;
  position: absolute;
}
.switchHead {
  width: 18px;
  height: 18px;
   border-radius: 50%;
   background: #fff;
   z-index: 8;
   position: relative;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
   transition: all 300ms;
  
}
.othermenubutton.left {
  margin-left: 10px;
  font-size: 12px;
}
.othermenubutton:hover {
  background: rgba(0, 0, 0, 0.1);
}
.othermenubutton:focus {
  background: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 612px) {
  .explore {
    width: 30%;
    margin: 0 auto;
     right: 10px;
     overflow: hidden;
     height: auto;
  }
}

