.menuButton {
    display: none;
}

div homeS {
    display: block;
}

.homeS{
    margin: auto;
    width: 90%;
    height: 100px;
    /* change height to see repeat-y behavior */

    background-image:
        radial-gradient(circle 30px at 40px 55px, lightgray 99%, transparent 0),
        linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 40%),
        linear-gradient(lightgray 10px, transparent 0),
        linear-gradient(lightgray 10px, transparent 0),
        linear-gradient(lightgray 10px, transparent 0),
        linear-gradient(lightgray 10px, transparent 0);

    background-repeat: no-repeat;

    background-size:
        100px 200px,
        /* circle */
        50px 200px,
        /* highlight */
        150px 200px,
        350px 200px,
        190px 200px,
        170px 200px;

    background-position:
        0 0,
        /* circle */
         0 0,
        /* highlight */
        120px 20px,
        120px 40px,
        120px 60px,
        120px 80px;

    animation: shine 1s infinite;
    margin-top: 10px;
}

@keyframes shine {
    to {
        background-position:
            0 0,
            120% 0,
            /* move highlight to right */
            120px 20px,
            120px 40px,
            120px 60px,
            120px 80px;
    }
}

/*
    NEWS fetching
    ////
*/
.newsDescS {
    width: 100%;
    height: auto;
    display: block;
}
.newsImageS {
       width: 100%;
       height: 220px;
       display: flex;
       align-items: center;
       justify-content: center;
       background: #fff;
}
.newsS {
     margin: 40px auto;
     width: 90%;
    height: 200px;
     /* change height to see repeat-y behavior */

     background-image:
     linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 40%),
     linear-gradient(lightgray 25px, transparent 0),
     linear-gradient(lightgray 10px, transparent 0),
     linear-gradient(lightgray 10px, transparent 0),
     linear-gradient(lightgray 10px, transparent 0);
     background-repeat: no-repeat;

     background-size:
     /* circle */
     50px 100px,
     /* highlight */
     /* WIDTH AND HEIGHT */
       300px 100px,
     250px 200px,
   200px 200px,
     200px 50px;
     
     background-position: 
     /* circle */
     0 0,
     /* highlight */
     10px 20px,
     10px 80px,
     10px 60px,
     10px 100px;
     animation: shineS 1s infinite;
     margin-top: 10px;
}
@keyframes shineS {
    to {
        background-position:
            
            120% 0,
            /* move highlight to right */
           10px 20px,
           10px 80px,
           10px 60px,
           10px 100px;
    }
}
/* Progress Bar */
.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
}

.progress .indeterminate {
    background-color: #1565c0;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}
