div homeS {
    display: block;
}

.homeS{
    margin: auto;
    width: 90%;
    height: 100px;
    /* change height to see repeat-y behavior */

    background-image:
        radial-gradient(circle 30px at 40px 55px, lightgray 99%, transparent 0),
        linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 40%),
        linear-gradient(lightgray 10px, transparent 0),
        linear-gradient(lightgray 10px, transparent 0),
        linear-gradient(lightgray 10px, transparent 0),
        linear-gradient(lightgray 10px, transparent 0);

    background-repeat: no-repeat;

    background-size:
        100px 200px,
        /* circle */
        50px 200px,
        /* highlight */
        150px 200px,
        350px 200px,
        190px 200px,
        170px 200px;

    background-position:
        0 0,
        /* circle */
         0 0,
        /* highlight */
        120px 20px,
        120px 40px,
        120px 60px,
        120px 80px;

    animation: shine 1s infinite;
    margin-top: 10px;
}

@keyframes shine {
    to {
        background-position:
            0 0,
            120% 0,
            /* move highlight to right */
            120px 20px,
            120px 40px,
            120px 60px,
            120px 80px;
    }
}